[Desktop Entry]
Type=Application
Name=Sung
Comment=YouTube Music, native on Linux
Exec=sung %u
Icon=sung
Terminal=false
Categories=AudioVideo;Audio;Player;
StartupWMClass=sung
MimeType=x-scheme-handler/sung;
